<h1>sgn in</h1>

<%= form_for :session, url: sessions_path do |f| %>
  <div>
    <%= f.label "eml" %>
    <%= f.text_field :email, placeholder: "example@mail.com" %>
  </div>
  <div>
    <%= f.label "psswrd" %>
    <%= f.password_field :password, placeholder: "word" %>
  </div>
  <%= f.submit "sgn in" %>
<% end %>
