
    <div>
        <div> <%= @animal.nickname %> </div> <!-- Why does this have @? Need help more clarification -->
        <div> <%= @animal.status %> </div> 
        <div>
            Name: <%= @animal.name %>, Species <%= @animal.species %>
        </div>
        <div>
            Description:<br>
                <p>
                    <%= @animal.description %>
                </p>
        </div>

 </div>

 